<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<description>Payment Service Provider</description>

	<dubbo:application name="payment-provider" owner="wxjfkg" />
	<dubbo:registry address="${dubbo.address}" />
	<dubbo:protocol name="dubbo" port="${dubbo.port}" threadpool="cached" threads="10" />

	<!-- dubbo服务列表 -->
	<dubbo:service interface="com.wxjfkg.payment.service.PaymentService"
		ref="paymentServiceImpl" executes="100" timeout="20000" />
		
</beans>
