<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<description>Payment Service Consumer</description>

	<dubbo:application name="payment-consumer" owner="wxjfkg" />
	<dubbo:registry address="zookeeper://127.0.0.1:2181" />
	
	<dubbo:reference id="paymentService"
		interface="com.wxjfkg.payment.service.PaymentService" retries="0" check="false"/>

</beans>
